* {
    padding: 0;
    margin: 0;

}

body {
    font-family: "myriad-pro","Trebuchet MS","Arial", sans-serif, 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

header {
    Background: #374E40;
    width: 100%;
    height: 495px;
    position: absolute;
    border-bottom: 7px solid #698961;
}

header h1 {
    font-size: 130px;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: 700;
    position: absolute;
    margin-top: 150px;

}

header span {

    font-size: 22px;
    margin: 135px 0 0 -135px;
    position: absolute;
    color: white;
    font-weight: 100;

}

nav {
    width: 100%;
    text-align: center;
    top: 505px;
    position: absolute;

}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 5px;
}

nav a {
    text-decoration: none;
    color: #1a1a1a;
    padding: 20px;
    border-radius: 5px;
}

nav a:hover {
    Background: #d9b166;
    color: #1a1a1a;
    -moz-transition: Background 400ms linear 0ms;
    -webkit-transition: Background 400ms linear 0ms;
}

nav a:visited {
    color: #1a1a1a;

}

#footer {
    font-size: 14px;
    width: 100%;
    position: absolute;
    top: 760px;
    text-align: center;
}

a {
    color: #735e45;
    text-decoration: none;
}
a:hover {
    color: #a6261b;
}

a:visited {
    color: #735e45;
}